    .botao {
        margin-right: 30px;
        box-shadow: 0 2px 4px black;
    }
    
    .bt-cadastrar {
        background-color: black;
        color: white;
        margin: 0 auto;
        text-align: center;
    }
    
    .bt-cadastrar:hover {
        background-color: black;
        color: white;
        opacity: 0.7;
        transition: 0.7s;
    }
    
    .bt-cadastrar a {
        color: white;
        text-decoration: none;
    }
    
    .central {
        margin: 0 auto;
        text-align: center;
    }